<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.stijl.tsl_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3fe51c823fcf7a8bf6ab4c765c577eaccc5ef7a8" />

        <activity
            android:name=".Activitie1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activitie1"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Activitie2" />
        <activity
            android:name=".Activitie3"
            android:label="@string/title_activity_activitie3"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>